{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid p-0">
		<img class="col-12" src="{{ asset('asset/img/bannerHome.png') }}">
		{% include "header.html.twig" %}
	</div>

	<div class="container-fluid">
		<h1>Photos</h1>
		<div class="row justify-content-start">
			{% set modal = "photo" %}
			{% for photo in photos %}
				<div class="card text-center col-2 my-3" data-bs-toggle="modal" data-bs-target="#{{modal}}{{photo.id}}">
					<img src="{{ asset('asset/img/upload/'~ photo.photo) }}" class="card-img-top" style="height:200px">
				</div>
				<!-- Modal -->
				<div class="modal fade" id="{{modal}}{{photo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<img src="{{ asset('asset/img/upload/'~ photo.photo) }}" class="card-img-top">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		{% include "footer.html.twig" %}
	{% endblock %}
