{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid p-0">
		<img class="col-12" src="{{ asset('asset/img/bannerHome.png') }}">
		{% include "header.html.twig" %}
	</div>
	<h1 class="text-center m-3">Les Actualités</h1>
	<div class="container">
		{{ form_start(form, {'attr': {'class': "col-12 col-md-8 col-xl-10 mb-5 row"}}) }}
		<div class="col-12 col-md-9 p-0 ">
			{{ form_widget(form.words) }}
		</div>
		<div class="col-12 col-md-3 d-flex justify-content-center mt-2 mt-md-0">
			{{ form_widget(form.Rechercher) }}
		</div>
		{{ form_end(form) }}
		<div class="row justify-content-center">
			{% for new in news %}
				<div class="col-3">
					<a href="{{ url('newSingle', {'id':new.id}) }}" style="color:black">
						<div class="card" style="width: 18rem;">
							<img src="{{ asset('asset/img/upload/'~ new.newsImg) }}" class="card-img-top" style="height: 250px;">
							<div class="card-body">
								<h5 class="card-title">{{new.titleFr|raw}}</h5>
								<p class="card-text">Date de l'article :
									{{new.createdAt|date('d-m-y')}}</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	{% include "footer.html.twig" %}
{% endblock %}
