{% extends 'base.html.twig' %}

{% block title %}Hello PicsVidsController!
{% endblock %}

{% block body %}
	<div class="container-fluid p-0">
		<img class="col-12" src="{{ asset('asset/img/bannerHome.png') }}">
		{% include "header.html.twig" %}
	</div>

	<div class="container-fluid">
		<div class="col-3 m-3">
			<h1>Insolite</h1>
		</div>
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">

		<div class="col-3 m-3">
			<h1>Promenade</h1>
		</div>
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<div class="col-3 m-3">
			<h1>Jeux</h1>
		</div>
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
		<img class="col-2 m-2" src="{{ asset('asset/img/dog.png') }}">
	</div>
</div>

{% include "footer.html.twig" %}{% endblock %}
