{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid p-0">
		<img class="col-12" src="{{ asset('asset/img/bannerHome.png') }}">
		{% include "header.html.twig" %}
	</div>
	<div class="container">
		<form method="POST" action="{{ asset('/findByCategory')}}" enctype="multipart/form-data">
			<div class="row col-6 m-3">
				<div class="col-5">
					<label for="age">Race</label>
					<select class="form-select" id="category" name="form[category]" aria-label="Default select example">
						{% for category in categories %}
							<option value="{{category.id}}">{{category.nameCategoryfr}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-2 mt-4">
					<button class="btn btn-success" name="form[submit]" value="1">Filtrer</button>
				</div>
				<div class="col-1 mt-4">
					<button class="btn btn-outline-danger" href="{{ asset('/dogs')}}" name="form[submit]" value="0">X</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		<div class="row justify-content-around">
			{% for dog in dogs %}
				<div class="col-3 my-3">
					<a href="{{ url('dogSingle', {'id':dog.id}) }}" style="color:black">
						<div class="card" style="width: 18rem;">
							<img src="{{ asset('asset/img/upload/'~ dog.photo) }}" class="card-img-top" style="height: 250px;">
							<div class="card-body">
								<h5 class="card-title">{{dog.name|raw}}</h5>
								<span class="card-text">Sexe :
									{{dog.sexfr|raw}}</span>
								<p class="card-text">Catégorie :
									{{dog.Category.nameCategoryfr|raw}}</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	{% include "footer.html.twig" %}
{% endblock %}
