{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid p-0">
		<img class="col-12" src="{{ asset('asset/img/bannerHome.png') }}">
		{% include "header.html.twig" %}
	</div>
	<div class="container">
		<div class="row col-6 m-3">
			<div class="col-2">
				<p>Trier par :
				</p>
			</div>
			<div class="col-3">
				<label for="sexe">Sexe</label>
				<select class="form-select" id="sexe" aria-label="Default select example">
					<option value="1">Mâle</option>
					<option value="2">Femelle</option>
				</select>
			</div>
			<div class="col-2">
				<label for="age">Âge</label>
				<input type="number" class="form-control" id="age">
			</div>
			<div class="col-3">
				<label for="age">Race</label>
				<select class="form-select" id="race" aria-label="Default select example">
					<option value="1">Bulldog Anglais</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row justify-content-around">
		<div class="card mx-5 my-2" style="width: 18rem;">
			<img class="card-img-top" src="{{ asset('asset/img/dog.png') }}" alt="Card image cap">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="card mx-5 my-2" style="width: 18rem;">
			<img class="card-img-top" src="{{ asset('asset/img/dog.png') }}" alt="Card image cap">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="card mx-5 my-2" style="width: 18rem;">
			<img class="card-img-top" src="{{ asset('asset/img/dog.png') }}" alt="Card image cap">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="card mx-5 my-2" style="width: 18rem;">
			<img class="card-img-top" src="{{ asset('asset/img/dog.png') }}" alt="Card image cap">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="card mx-5 my-2" style="width: 18rem;">
			<img class="card-img-top" src="{{ asset('asset/img/dog.png') }}" alt="Card image cap">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	{% include "footer.html.twig" %}
{% endblock %}
